docker-containers/jenkins/data/jenkins_home/jobs/*/builds
docker-containers/jenkins/data/jenkins_home/jobs/*/last*
docker-containers/jenkins/data/jenkins_home/jobs/*/next*
docker-containers/jenkins/data/jenkins_home/jobs/*/workspace
docker-containers/jenkins/data/jenkins_home/jobs/*/*log
docker-containers/jenkins/data/jenkins_home/.*
docker-containers/jenkins/data/jenkins_home/logs
docker-containers/jenkins/data/jenkins_home/users
docker-containers/jenkins/data/jenkins_home/plugins
docker-containers/jenkins/data/jenkins_home/tools
docker-containers/jenkins/data/jenkins_home/war
docker-containers/jenkins/data/jenkins_home/data
docker-containers/jenkins/data/jenkins_home/updates
docker-containers/jenkins/data/jenkins_home/secrets
docker-containers/jenkins/data/jenkins_home/init.groovy.d
docker-containers/jenkins/data/jenkins_home/userContent
docker-containers/jenkins/data/jenkins_home/queue.xml*
docker-containers/jenkins/data/jenkins_home/*key*
docker-containers/jenkins/data/jenkins_home/*.log
docker-containers/jenkins/data/jenkins_home/*.bak
docker-containers/jenkins/dump
.DS_Store
node_modules
.idea