jenkins/data/jenkins_home/jobs/*/builds
jenkins/data/jenkins_home/jobs/*/last*
jenkins/data/jenkins_home/jobs/*/next*
jenkins/data/jenkins_home/jobs/*/workspace
jenkins/data/jenkins_home/.*
jenkins/data/jenkins_home/logs
jenkins/data/jenkins_home/users
jenkins/data/jenkins_home/plugins
jenkins/data/jenkins_home/tools
jenkins/data/jenkins_home/war
jenkins/data/jenkins_home/data
jenkins/data/jenkins_home/updates
jenkins/data/jenkins_home/secrets
jenkins/data/jenkins_home/init.groovy.d
jenkins/data/jenkins_home/userContent
jenkins/data/jenkins_home/*key*
jenkins/data/jenkins_home/*.log
jenkins/data/jenkins_home/*.bak
jenkins/dump
.DS_Store
*/node_modules